.quill {
    font-family: 'Nunito Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.ql-toolbar {
    display: none;
}

.ql-container {
    border: 0 !important;
}

.ql-editor::before {
    font-family: 'Nunito Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: var(--variant-softColor, var(--joy-palette-primary-softColor, var(--joy-palette-primary-700, #12467B))) !important;
}

.ql-editor img {
    width: 240px;
}