.quill {
    font-family: 'Nunito Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

.ql-container {
    border: 0 !important;
}

.ql-editor::before {
    font-family: 'Nunito Variable', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: var(--variant-softColor, var(--joy-palette-primary-softColor, var(--joy-palette-primary-700, #12467B))) !important;
}

.ql-editor img {
    width: 240px;
}

.ql-toolbar.ql-snow {
    border: none !important;
    padding: 0 !important;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    background: var(--variant-softBg, var(--joy-palette-primary-softBg, var(--joy-palette-primary-100, #E3EFFB))) !important;
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    color: var(--variant-softColor, var(--joy-palette-primary-softColor, var(--joy-palette-primary-700, #12467B))) !important;
    padding: 0 2rem !important;
    float: none !important;
}

#toolbar>[data-first-child] {
    border-right: var(--ButtonGroup-separatorSize) solid var(--ButtonGroup-separatorColor) !important;
}

#toolbar>[data-last-child] {
    border-left: var(--ButtonGroup-separatorSize) solid var(--ButtonGroup-separatorColor) !important;
}

.ql-snow.ql-toolbar button:hover, .ql-snow.ql-toolbar button.ql-active {
    color: #06c !important;
}