
.editor {
    --md-bk-color: transparent;
    --md-bk-color-outstand: var(--variant-plainHoverBg, var(--joy-palette-primary-plainHoverBg, var(--joy-palette-primary-100, #E3EFFB)));
    border: 0;
    color: inherit !important;
}

.md-editor-resize-operate {
    background-color: var(--variant-plainHoverBg, var(--joy-palette-primary-plainHoverBg, var(--joy-palette-primary-100, #E3EFFB))) !important;
    transition: background-color .15s linear;
}

.md-editor-resize-operate:hover {
    background-color: var(--variant-softHoverBg, var(--joy-palette-primary-softHoverBg, var(--joy-palette-primary-200, #C7DFF7))) !important;
}

.md-editor-toolbar-wrapper {
    border-bottom: 1px solid var(--variant-outlinedBorder, var(--joy-palette-primary-outlinedBorder, var(--joy-palette-primary-300, #97C3F0))) !important;
}

.md-editor-footer {
    color: inherit !important;
    border-top: 1px solid var(--variant-outlinedBorder, var(--joy-palette-primary-outlinedBorder, var(--joy-palette-primary-300, #97C3F0))) !important;
}

.md-editor-dropdown {
    background-color: transparent !important;
    border: none !important;
}

.md-editor-dropdown-overlay, .md-editor-table-shape {
    background-color: var(--variant-softBg, var(--joy-palette-primary-softBg, var(--joy-palette-primary-100, #E3EFFB))) !important;
    border-radius: var(--List-radius, var(--joy-radius-sm)) !important;
    border: none !important;
    overflow: hidden !important;
}

.md-editor-menu {
    display: flex !important;
    flex-direction: column !important;
    gap: 1px !important;
    justify-content: space-between !important;
    border: none !important;
    border-radius: var(--List-radius, var(--joy-radius-sm)) !important;
}

.md-editor-menu-item {
    color: inherit !important;
    border-radius: 6px !important;
    margin: 3px 5px 4px !important;
}

.md-editor-menu-item:first-of-type {
    padding-top: 4px !important;
}

.md-editor-menu-item:last-of-type {
    padding-bottom: 4px !important;
}

.md-editor-menu-item:hover {
    background-color: var(--variant-softHoverBg, var(--joy-palette-primary-softHoverBg, var(--joy-palette-primary-200, #C7DFF7))) !important;
}

.md-editor-modal {
    background-color: var(--joy-palette-background-surface) !important;
    border-radius: var(--joy-radius-md) !important;
    border: 1px solid var(--variant-outlinedBorder, var(--joy-palette-primary-outlinedBorder, var(--joy-palette-primary-300, #97C3F0))) !important;
    box-shadow: var(--joy-shadow-lg) !important;
}

.md-editor-modal-mask {
    background-color: var(--joy-palette-background-backdrop) !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;

}
.md-editor-modal * {
    border-radius: 3px !important;
}

.md-editor-btn {
    background-color: var(--variant-solidBg, var(--joy-palette-primary-solidBg, var(--joy-palette-primary-500, #0B6BCB))) !important;
    border: none !important;
    color: var(--variant-solidColor, var(--joy-palette-primary-solidColor, var(--joy-palette-common-white, #FFF))) !important;
}

.md-editor-modal-header {
    color: var(--variant-plainColor, var(--joy-palette-primary-plainColor, var(--joy-palette-primary-500, #0B6BCB))) !important;
    border-bottom: 1px solid var(--variant-outlinedBorder, var(--joy-palette-primary-outlinedBorder, var(--joy-palette-primary-300, #97C3F0))) !important;
}

.md-editor-clip-main, .md-editor-clip-preview {
    color: var(--variant-outlinedColor, var(--joy-palette-primary-outlinedColor, var(--joy-palette-primary-500, #0B6BCB))) !important;
    border: 1px solid var(--variant-outlinedBorder, var(--joy-palette-primary-outlinedBorder, var(--joy-palette-primary-300, #97C3F0))) !important;
}

.md-editor-clip-upload {
    color: inherit !important;
}

.md-editor-modal-adjust {
    display: none !important;
}

.md-editor-modal-close {
    display: none !important;
}
