.ql-toolbar {
    display: none;
}

.ql-container {
    border: 0 !important;
}

.ql-editor::before {
    color: var(--variant-softColor, var(--joy-palette-primary-softColor, var(--joy-palette-primary-700, #12467B))) !important;
}