.button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    gap: 1rem;
    cursor: pointer;
}

.active-light {
    --background: rgb(21, 78, 193);
    --shadow: rgb(21, 78, 193, .75);
}

.active-dark {
    --background: rgb(52, 114, 240);
    --shadow: rgb(52, 114, 240, .75);
}

.active {
    background-color: var(--background) !important;
    box-shadow: rgba(255, 255, 255, 0.53) 0 0 10px,
    rgba(0, 0, 0, 0.35) 0 0 15px,
    var(--shadow) 0 0 15px;
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    backdrop-filter: blur(-5px);
    color: #fff;
    transition: transform .3s cubic-bezier(.34, 2, .6, 1), background .3s ease, color .3s ease, box-shadow .6s ease;
    cursor: pointer;
}

.icon {
    font-size: 15px;
}

.popover {
    position: absolute;
    margin: auto;
    font-size: 0.9rem !important;
    text-wrap: nowrap;
    white-space: nowrap;
    font-weight: 420;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}