.editor {
    --md-bk-color: transparent;
}

.md-editor-resize-operate {
    background-color: var(--va-background-element) !important;
    transition: background-color .15s linear;
}

.md-editor-resize-operate:hover {
    background-color: var(--editor-background-color) !important;
}

.md-editor-resize-operate-dark {
    --editor-background-color: rgb(21, 78, 193);
}

.md-editor-resize-operate-light {
    --editor-background-color: rgb(21, 78, 193);
}

.md-editor-toolbar-wrapper {
    border-bottom: 1px solid var(--va-background-element) !important;
}

.md-editor-footer {
    border-top: 1px solid var(--va-background-element) !important;
}

.md-editor-dropdown {
    background-color: transparent !important;
}

.md-editor-dropdown-overlay, .md-editor-table-shape {
    background-color: var(--va-background-element) !important;
    border-radius: 3px !important;
    border: none !important;
    overflow: hidden !important;
}

.md-editor-menu-item {
    color: var(--va-text-primary) !important;
}

.md-editor-menu-item:hover {
    background-color: var(--va-primary) !important;
}

.md-editor-toolbar-item:hover {
    background-color: var(--va-primary) !important;
}

.md-editor-toolbar-item:hover .md-editor-icon {
    fill: var(--va-text-primary) !important;
}

.md-editor-modal {
    background-color: var(--va-background-primary) !important;
    border: none;
}

.md-editor-modal * {
    border-radius: 3px !important;
}

.md-editor-btn {
    background-color: var(--va-primary) !important;
    border: none !important;
    color: var(--va-text-primary) !important;
}